<div class="side_container">
  <div class="container-fluid">
    <div class="main-page">
      <div class="row m-0 mt-3">
        <div class="col-md-3 admin-brdcmb mt-0">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a routerLink="/dashboard">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">404</li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row m-0">
        <div class="row m-0 buttons">
          <div class="w-30">
          </div>
        </div>
        <div class="col-lg-12 mt-3">
          <div class="main-div">
            <div class="col-4 txt-404">
              <h1>Ooops...</h1>
              <h3>Sorry, we can't find that page</h3>
              <div class="back-txt">
                <h3>Let us Guide you back</h3>
                <div class="btn-div">
                  <a href="http://"><img style="width: 20px;" src="assets/images/back-btn.svg">
                    Dashboard</a>&nbsp;&nbsp;
                  <a href="http://"><img style="width: 20px;" src="assets/images/back-btn.svg"> Login</a>
                </div>
              </div>
            </div>
            <div class="col-4 img-404">
              <img class="gif-404" src="assets/images/car_tree.1.gif" alt="404-img">
            </div>
            <!-- <h1 style="text-align: center;">404</h1>
            <h1 style="text-align: center;" class="text-muted">Page Not Found</h1> -->
            <!-- <a href="http://">Dashboard</a>
            <br>
            <a href="http://">Login</a> -->


          </div>
        </div>
      </div>
    </div>
  </div>
</div>
