<!-- <h1 mat-dialog-title>{{data?.name}}</h1> -->

<div class="main-model">
  <div class="modal-head">
    <button class="button-bg" (click)="onNoClick()"><span class="material-icons lg-18">close</span></button>
  </div>

  <div class="modal-body">
    <div class="text-center">
      <img class="swip-logo" src="assets/images/swipewire-logo.svg" />
      <h5>SwipeWire Technologies</h5>
    </div>

    <div class=" px-80 ">
      <div class="pt-5 d-flex-div justify-content-between">
        <div class="sw-icon-info d-flex justify-content-start align-items-center">
          <img class="sw-icon green-icon" src="assets/images/Vector-2.svg" />
          <p>
            <small>Address</small><br />
            A-31, 1st Floor, Lajpat nagar Part-II, New Delhi, 590032
          </p>
        </div>

        <div class="sw-icon-info d-flex justify-content-start align-items-center">
          <img class="sw-icon pink-icon" src="assets/images/Vector-3.svg" />
          <p>
            <small>Tier</small><br />
            Tier 1 Level
          </p>
        </div>
      </div>

      <div class="pt-5 d-flex-div justify-content-between">
        <div class="sw-icon-info d-flex justify-content-start align-items-center">
          <img class="sw-icon yellow-icon" src="assets/images/Vector-4.svg" />
          <p>
            <small>Primary Contact</small><br />
            +91 7886524528
          </p>
        </div>

        <div class="sw-icon-info d-flex justify-content-start align-items-center">
          <img class="sw-icon yellow-icon" src="assets/images/Vector-4.svg" />
          <p>
            <small>Secondary Contact</small><br />
            080 2225147
          </p>
        </div>
      </div>

      <div class="pt-5 d-flex-div justify-content-between">
        <div class="sw-icon-info d-flex justify-content-start align-items-center">
          <img class="sw-icon blue-icon" src="assets/images/Vector-1.svg" />
          <p>
            <small>Primary Email</small><br />
            Nec@gmail.com
          </p>
        </div>

        <div class="sw-icon-info d-flex justify-content-start align-items-center">
          <img class="sw-icon blue-icon" src="assets/images/Vector-1.svg" />
          <p>
            <small>Secondary Email</small><br />
            EBC@gmail.com
          </p>
        </div>
      </div>

    </div>

  </div>

</div>