.wrapper {
  position: relative;
}

.main_container {
  width: 90%;
  margin: 0 auto;
}

.main_container .main_row {
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .main_container .main_row {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

@media (max-width: 575px) {
  .main_container .main_row {
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }
}

.form_container {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
  .form_container {
    max-width: 400px;
    margin: 50px auto 50px auto;
  }
}

@media (max-width: 575px) {
  .form_container {
    max-width: 100%;
  }
}

.form_container .heading {
  margin-top: 35px;
  text-align: left;
}

.form_container form {
  margin-top: 59px;
}

@media (max-width: 575px) {
  .form_container form {
    margin-top: 80px;
  }
}

.form_container form .text_field {
  text-align: center;
}

.form_container form .text_field label {
  color: var(--color-secondary);
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 16px;
}

.btn_back {
  text-align: left;
  margin-top: 35px;
}

.btn_back a {
  color: var(--color-secondary);
  font-size: 14px;
  line-height: 21px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn_back a .mat-icon {
  margin-right: 15px;
  color: var(--color-secondary);
}

.heading .title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: var(--color-secondary);
  margin-bottom: 0;
}

.heading .subtitle {
  margin-top: 13px;
  font-size: 14px;
  line-height: 22px;
  color: var(--color-gray);
  margin-bottom: 0;
  max-width: 300px;
}

.button_submit {
  margin-top: 40px;
}

@media (max-width: 575px) {
  .button_submit {
    margin-top: 40px;
    position: absolute;
    width: calc(100% - 24px);
    bottom: 40px;
  }
}

.button_submit .loginbutton {
  width: 100%;
  padding: 13px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--white);
  background-color: var(--color-primary);
  border: none;
  border-radius: 5px;
}

.right_bg {
  background-image: url("../../../assets/images/login/authmodule_bg_frame.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 475px;
  padding: 40px;
}

@media (max-width: 768px) {
  .right_bg {
    margin: 50px auto 0 auto;
  }
}

@media (max-width: 576px) {
  .right_bg {
    max-width: 100%;
    display: none;
  }
}

.right_bg img {
  border-radius: 19px;
}

@media (max-width: 768px) {
  .right_bg img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .right_bg img {
    width: 100%;
  }
}

.text_field ::ng-deep .otp-input {
  font-size: 18px;
  color: var(--color-primary);
}

@media (max-width: 576px) {
  .text_field ::ng-deep .otp-input {
    width: 50px;
    height: 45px;
  }
}

.text_field::-webkit-input-placeholder {
  color: dimgrey;
}

.text_field:-ms-input-placeholder {
  color: dimgrey;
}

.text_field::-ms-input-placeholder {
  color: dimgrey;
}

.text_field::placeholder {
  color: dimgrey;
}

.remember_me {
  padding-top: 0;
  width: 350px;
  left: 10%;
  padding-bottom: 5%;
}

.rememberLabel {
  font-size: 18px;
}

.remember_me .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 10%;
  bottom: 10%;
}

.remember_me .form-check-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 0;
}

.remember_me .form-check-inline .checkbox-set {
  margin-left: 5px;
}
/*# sourceMappingURL=verify-opt.component.css.map */