<section class="side_container">
    <div class="container-fluid">
      <div class="main-page">
        <div class="row 0">
          <div class="col add-brdcmb">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Business Unit</a></li>
                <li class="breadcrumb-item active" aria-current="page">File Upload</li>
              </ol>
            </nav>
          </div>
        </div>
    
    
            <div class="main-div padding-x">
    
              
              <div class="d-flex justify-content-between">
                <h3 class="form-hadding">File Upload Business Unit</h3>
              </div>
    
    
              <form action="#" class="pt-5 row justify-content-between">
    
  
                <div class="form-group w-45  input-fildcl">
                  <label for="lname" class="control-label">Select File</label>
                  <div class="">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label><img class="image-icon" src="assets/images/image.svg"/>Upload</mat-label>
                        <input matInput placeholder="Upload">
                        <!-- <mat-icon class="upload-icon">cloud_upload</mat-icon> -->
                        <img class="upload-icon" src="assets/images/Upload.svg"/>
                      </mat-form-field>
                  </div>
                  <div class="class">
                    <button mat-icon-button>
                        <mat-icon>download</mat-icon>
                        (Download Template)
                    </button>  
                  </div>
                </div>
    
    
                <div class="d-flex justify-content-end margin-y">
                    <button mat-raised-button color="primary"> <a routerLink="/business-unit"> Upload </a> </button>
                </div>
              </form>
            </div>
    
      </div>
  
  
    </div>
  </section>
  