.main-page {
  background-color: var(--color-light-blue);
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  @media (max-width: 768px) {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
  }
  .breadcrumb {
    & a,
    .active {
      color: var(--color-secondary);
      font-weight: 500;
      font-size: 12px;
      line-height: 21px;
      letter-spacing: 0.5px;
    }
  }

  .main-div {
    background-color: var(--white);
    border-radius: 1rem;
    padding: 20px;
    padding-bottom: 50px;
    box-shadow: 0px 4px 21px rgb(26 88 246 / 17%);
    @media (max-width: 768px) {
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      padding-bottom: 30px;
    }
    .orange {
      width: 50px;
      height: 50px;
      font-weight: 500;
      font-size: 15px;
      background-color: var(--color-orange);
      color: var(--color-orange-light);
    }

    .orange-light {
      width: 50px;
      height: 50px;
      font-weight: 500;
      font-size: 15px;
      background-color: var(--color-orange-light);
      color: var(--color-orange);
    }

    .dashed-line {
      border-bottom: 2px dashed #ccc;
      width: 35%;
      margin-right: 15px;
      margin-left: 15px;
      height: 26px;
    }

    .margin-y {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .upload-icon {
      position: absolute;
      right: 3px;
      top: 11px;
    }

    .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
      color: var(--color-secondary);
      font-size: 12px;
    }
    .card_heading {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
      @media (max-width: 576px) {
        flex-direction: column;
        align-items: flex-start;
      }
      .form-heading {
        color: var(--color-secondary);
        font-weight: 600;
        font-size: 18px;
        margin-bottom: 0;
        margin-right: 50px;
      }
    }

    // PlaceHolder screen code start
    .placepolder {
      .justify-center{
        justify-content: center;
      }
      .heading-plac {
        & h2 {
          font-weight: 600;
          font-size: 22px;
          color: var(--color-secondary);
        }
        & h6 {
          font-size: 12px;
          color: var(--color-secondary);
          margin-bottom: 15px;
        }
      }
      .text-right {
        text-align: right;
      }
      margin-top: 5em;
      @media(max-width:575px){
        margin-top: 0;
      }

      .card_column {
        .card_checkbox {
          margin-bottom: 10px;
          /* The container */
          .container {
            display: block;
            position: relative;
            padding-left: 0px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          /* Hide the browser's default checkbox */
          .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          /* Create a custom checkbox */
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            border: 1px solid #bbb;
            background-color: #fff;
          }

          /* On mouse-over, add a grey background color */
          .container:hover input ~ .checkmark {
            border-color: #ccc;
          }

          /* When the checkbox is checked, add a blue background */
          .container input:checked ~ .checkmark {
            background-color: #2196f3;
            border-color: #2196f3;
          }

          /* Create the checkmark/indicator (hidden when not checked) */
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }

          /* Show the checkmark when checked */
          .container input:checked ~ .checkmark:after {
            display: block;
          }

          /* Style the checkmark/indicator */
          .container .checkmark:after {
            left: 5px;
            top: 1px;
            width: 5.5px;
            height: 12px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        .card_heading {
          & h3 {
            font-weight: 600;
            font-size: 16px;
            color: var(--color-secondary);
          }
        }

        .profile_details {
          // width: 100% !important;
          // overflow: auto;
          box-shadow: 0px 1px 7px grey;
          &::-webkit-scrollbar {
            height: 2px;
            width: 2px;
          }
          .profile_img {
            img {
              cursor: move;
            }
          }
          .card_details {
            position: relative;
            .card-input {
              & div {
                & input {
                  background-color: var(--white);
                  border-radius: 5px;
                  border: none;
                }
              }
              ::placeholder {
                font-size: 14px;
                color: var(--color-secondary);
              }
            }
          }
        }
      }

      .back-card {
        .profile_details {
          .card_details {
            position: relative;
            .card-input {
              & div {
                & input {
                  width: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
  .card_main {
    .card_heading {
      margin-top: 50px;
      margin-bottom: 30px;
      @media (max-width: 576px) {
        margin-bottom: 0;
      }
      h3 {
        color: var(--color-primary);
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
    }
    & table {
      & tr {
        height: 63px;
        border-radius: 1rem;
        & th {
          background: var(--color-table-heading);
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          text-align: left;
          color: var(--color-primary);
          border: none;
          & .mat-icon {
            vertical-align: sub;
          }
        }
        & th:first-child {
          border-radius: 0.8rem 0rem 0rem 0.8rem;
        }
        & th:last-child {
          padding-right: 24px;
          border-radius: 0rem 0.8rem 0.8rem 0rem;
          text-align: center;
        }

        & td {
          border: none;
          color: var(--color-secondary);
          font-size: 15px;
          line-height: 24px;

          & img {
            box-shadow: 1px 6px 10px #969696;
            width: 42px;
            height: 42px;
            object-fit: cover;
            margin-right: 16px;
          }
        }

        & td:first-child {
          border-radius: 0.8rem 0rem 0rem 0.8rem;
        }
        & td:last-child {
          border-radius: 0rem 0.8rem 0.8rem 0rem;
          text-align: center;
        }
      }
      .max_length_dropdown {
        font-size: 12px;
        line-height: 17px;
        color: var(--color-secondary);
        background-color: var(--color-light-gray);
        border-color: var(--color-light-gray);
        border-radius: 5px;
      }
      & tr:nth-child(odd) {
        background: var(--color-light-gray);
        .max_length_dropdown {
          background-color: var(--white);
          border-color: var(--white);
        }
      }
    }
  }
  .card_size {
    margin-top: 50px;
    .card_dropdown {
      margin-bottom: 35px;
      @media (max-width: 576px) {
        margin-bottom: 15px;
      }
      label {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-secondary);
        margin-right: 30px;
      }
      select {
        font-size: 12px;
        line-height: 17px;
        color: var(--color-secondary);
        background-color: var(--color-light-gray);
        border-color: var(--color-light-gray);
        border-radius: 5px;
        padding: 5px 5px;
      }
    }
    .custom_size {
      display: flex;
      align-items: center;
      .radio_buttn {
        width: 50%;
        @media (max-width: 576px) {
          width: 100%;
        }
        .radio_group_label {
          display: flex;
          flex-direction: column;
          margin: 15px 0;
          &:last-child {
            margin-bottom: 0;
          }
          .mat-radio-button {
            margin-bottom: 15px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          ::ng-deep .mat-ripple-element {
            background-color: transparent !important;
          }
        }
      }
      .size {
        width: 50%;
        @media (max-width: 576px) {
          width: 100%;
        }
        p {
          margin-bottom: 6px;
          font-size: 16px;
          line-height: 24px;
          color: var(--color-secondary);
        }
        .custom_size {
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: var(--color-secondary);
          border: 1px solid #efefef;
          border-radius: 5px;
          width: 132px;
          padding: 7px 15px;
          &::placeholder {
            color: var(--color-secondary);
          }
        }
      }
    }
  }
  .card_layout {
    margin-top: 50px;
    margin-bottom: 50px;
    .layout_color {
      background-color: var(--color-cards);
      border-radius: 10px;
      position: relative;
      height: 250px;
      width: 400px;
      margin: 0 auto;
      .layout_left {
        position: absolute;
        left: -60px;
        height: 100%;
        display: flex;
        align-items: center;
        hr {
          margin: 0;
          height: 100%;
          width: 1px;
        }
        span {
          font-size: 14px;
          line-height: 21px;
          color: var(--color-primary);
          transform: rotate(-90deg);
        }
      }
      .layout_bottom {
        position: absolute;
        bottom: -50px;
        width: 100%;
        text-align: center;
        hr {
          margin: 0;
          width: 100%;
          height: 1px;
          background-color: blue;
        }
        span {
          font-size: 14px;
          line-height: 21px;
          color: var(--color-primary);
          display: inline-block;
          margin-top: 10px;
        }
      }
    }
  }
  .crd_colorpckr {
    margin-top: 50px;
    @media (max-width: 576px) {
      margin-top: 15px;
    }
    .heading {
      text-align: center;
      margin-bottom: 25px;
      @media (max-width: 576px) {
        margin-bottom: 10px;
        margin-top: 30px;
        text-align: left;
      }
      h3 {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-secondary);
        margin-bottom: 0;
      }
    }
    .choose_color {
      @media (max-width: 576px) {
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-secondary);
      }
    }
    .upload_image {
      p {
        margin-bottom: 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-secondary);
      }
      ::ng-deep .mat-form-field {
        .mat-form-field-wrapper {
          .mat-form-field-flex {
            align-items: center;
          }
        }
      }
    }
  }
  .tabing {
    margin-top: 30px;
    ::ng-deep .mat-tab-body-wrapper {
      .mat-tab-body-content {
        overflow: hidden;
      }
    }
  }
  .text_field {
    @media (max-width: 576px) {
      width: 100%;
    }
    ::ng-deep .mat-form-field {
      .mat-form-field-wrapper {
        padding-bottom: 0;
      }
      @media (max-width: 576px) {
        width: 100%;
      }
    }
  }
  .padding-x {
    padding-left: 8rem;
    padding-right: 8rem;
    @media (max-width: 768px) {
      padding: 0;
    }
    & form {
      .w-45 {
        width: 45%;
        margin-bottom: 25px;
      }

      & label {
        color: var(--color-secondary);
        font-weight: 500;
        font-size: 16px;
      }

      .mat-raised-button {
        width: 180px;
        height: 48px;
        box-shadow: 0px 4px 21px rgba(26, 88, 246, 0.49);
        border-radius: 10px;
        margin-left: 15px;
        background-color: var(--color-primary);
        color: var(--white);
      }
    }
  }
  .btn_next {
    margin-top: 50px;
    display: flex;
    justify-content: end;
  }
}
.btn_card_next {
  text-align: center;
  margin-top: 30px;
}
// button style
.orange-btn {
  width: 200px;
  height: 48px;
  box-shadow: 0px 4px 21px rgba(255, 173, 102, 0.19);
  border-radius: 10px;
  margin-left: 15px;
  background-color: var(--color-orange);
  color: var(--white);
  border: 2px solid var(--color-orange);
  text-decoration: none;
  @media (max-width: 576px) {
    width: 150px;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  &:hover {
    color: var(--color-orange);
    background-color: var(--white);
  }
}
.text-md-right {
  @media (max-width: 576px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.blue-btn {
  width: 180px;
  height: 40px;
  font-size: 12px;
  box-shadow: 0px 4px 21px rgba(26, 88, 246, 0.49);
  border-radius: 10px;
  margin-left: 15px;
  background-color: var(--color-primary);
  color: var(--white);
  border: 2px solid var(--color-primary);
  text-decoration: none;
  @media (max-width: 576px) {
    margin-left: 20px;
    width: 125px;
  }
  &:hover {
    color: var(--color-primary);
    background-color: var(--white);
  }
}

.blue-line-btn {
  background-color: var(--white);
  width: 180px;
  height: 40px;
  font-size: 12px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  margin-left: 5px;
  color: var(--color-primary);
  text-decoration: none;
  @media (max-width: 576px) {
    margin-left: 0;
    width: 150px;
  }
  &:hover {
    background-color: var(--color-primary);
    color: var(--white);
    border: 2px solid var(--color-primary);
  }
}
.card_container {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  .card_item {
    flex: 325px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .card_width{
    width: 330px;
  }
}

.min_width{
  width: auto;
}
.move {
  cursor: move;
  position: absolute;
  white-space: nowrap;
}
.round {
  border-radius: 50%;
}
.is-bold {
  font-weight: bold !important;
}
.is-italic {
  font-style: italic !important;
}
.is-regular {
  font-style: normal !important;
}
.is-underline {
  text-decoration: underline !important;
  text-decoration-line: underline !important;
}
.image_resize {
  resize: both;
  overflow: hidden;
  display: inline-block;
  img {
    height: auto;
    width: auto;
  }
}
.prev_front,
.prev_back {
  // overflow: auto;
  // max-height: 300px;
  &::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
}
.select-temp {
  border: red;
  border-style: ridge;
}

.form_uploadsection {
  .txt_field {
    label {
      font-size: 16px;
      line-height: 24px;
      color: #102a6c;
      font-weight: 500;
    }
  }
  .btn_changebg {
    text-align: center;
    margin-top: 26px;
    button {
      background: #eb6d00;
      box-shadow: 0px 4px 21px rgba(108, 123, 160, 0.27);
      border-radius: 5px;
      padding: 8px 12px;
      font-family: Poppins;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #ffffff;
      border: none;
    }
  }
  .heading {
    margin-top: 44px;
    margin-bottom: 18px;
    h3 {
      margin-bottom: 0;
      color: #102a6c;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
    }
  }
  .cards {
    background: #f3f7ff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 318px;
    padding: 30px 13px;
    margin-bottom: 15px;
    position: relative;

    .cross {
      position: absolute;
      top: 0px;
      right: 0px;
      @media (max-width:798px) {
        // left: 50px;
      }
      @media (max-width:578px) {
        // left: 148px;
      }
      img {
        width: 50px;
        cursor: pointer;
      }
      
    }
    @media (max-width:578px) {
      height: 220px;
    }
    
    .no {
      margin-bottom: 23px;
      span {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #eb6d00;
      }
      @media (max-width:575px) {
        margin-bottom: 10px;
      }
    }
    .code {
      p {
        // margin-top: 59px;
        position: absolute;
        bottom: 5px;
        left: 0;
        right: 0;
        text-align: center;
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #102a6c;
      }
    }
    .logo {
      img {
        height: 24px;
      }
    }


    .form_field {
      // margin-top: 49px;
      position: absolute;
      bottom: 5px;
      width: 90%;
      .txt_field {
        width: 100%;
        &:last-child {
          margin-top: 10px;
        }
      }
    }
    .txt_field {
      ::ng-deep {
        & .mat-form-field-wrapper {
          height: 44.85px;
          width: 100%;
          & .mat-form-field-flex {
            height: 38px;

            & .mat-form-field-outline {
              height: 38px;

              & .mat-form-field-outline-start {
                width: 13px !important; // Override Material in-line style
              }

              // & .mat-form-field-outline-end {
              // }
            }

            & .mat-form-field-infix {
              left: 4px;
              padding: 0;
              top: 2px;

              & .mat-form-field-label,
              & .mat-input-element {
                font-size: 12px;
                width: 85%;
              }

              & .mat-form-field-label-wrapper {
                top: -1.04375em;

                & .mat-form-field-label {
                  height: 16px;
                }
              }
            }
          }
        }
      }
      .upload-icon {
        top: 2px;
      }
    }
  }

  & .cards:nth-last-child(4){
    height: 300px !important;
  }

  .btn_save_cancel {
    margin-top: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    .btn_save {
      background: #eb6d00;
      box-shadow: 0px 4px 21px rgba(108, 123, 160, 0.27);
      border-radius: 5px;
      padding: 8px 12px;
      font-family: Poppins;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #ffffff;
      border: none;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn_cancel {
      background: #fff;
      border: 1px solid #eb6d00;
      border-radius: 5px;
      padding: 8px 12px;
      font-family: Poppins;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #eb6d00;
      width: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.card_template {
  .heading {
    h3 {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 33px;
      color: #0b315e;
      margin-bottom: 31px;
    }
  }
  .card_attr {
    .attr_container {
      .item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
        h3 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          color: #0b315e;
          margin-bottom: 0;
        }
        label {
          font-family: Poppins;
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 24px;
          color: #102a6c;
        }
        .checkbox {
          .container {
            display: block;
            position: relative;
            padding-left: 28px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 14px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          /* Hide the browser's default checkbox */
          .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          /* Create a custom checkbox */
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            border: 1px solid #bbb;
            background-color: #fff;
          }

          /* On mouse-over, add a grey background color */
          .container:hover input ~ .checkmark {
            border-color: #ccc;
          }

          /* When the checkbox is checked, add a blue background */
          .container input:checked ~ .checkmark {
            background-color: #eb6d00;
            border-color: #eb6d00;
          }

          /* Create the checkmark/indicator (hidden when not checked) */
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }

          /* Show the checkmark when checked */
          .container input:checked ~ .checkmark:after {
            display: block;
          }

          /* Style the checkmark/indicator */
          .container .checkmark:after {
            left: 5px;
            top: 1px;
            width: 5.5px;
            height: 12px;
            border: solid white;
            border-width: 0 2px 2px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}

.brochure_height{
  @media(max-width: 576px){
    height: 280px !important;
  }
}

.qr{
  @media (max-width:576px){
    height: 80px !important;
  }
}

.img_nec{
  @media (max-width:576px){
    height: 150px !important;
  }
}


.qr_code {
  margin-bottom: 15px;
  height: 290px;
  display: flex;
  align-items: center;
  @media(max-width:576px){
    height: 150px;
  }
  .code{
    @media(max-width:576px){
      text-align: left;
    }
  }
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  opacity: 0.4;
  cursor: not-allowed !important;
}

.ytRed{
  color: red;
}

::ng-deep .ytRed .mat-form-field-outline {
  color: red !important;
}

